body {
    background-color: #edcf4d;
}

h1 {
    color: #0264c3;
    font-family: "comic sans ms";
    font-size: 75px;
    text-align: center;
    text-shadow: 2px 2px 0 black;
}

p {
    color: black;
    font-size: 20px;
    font-weight: bolder;
}


#icon-container,
#tamagotchi {
    display: flex;
    justify-content: center;
   
   
    
}

#container {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#increaseBathroomBtn,
#increaseHungerBtn,
#increaseMoodBtn,
#increaseSicknessBtn,
#Light, #scale, #discipline, #exclamation {
    width: 25px;
}

#icon-container-bottom {
    display: flex;
    justify-content: left;
    
}

#tamagotchi img {
    height: 75px;
    width: 75px;
}

#screen-border {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    padding: 30px;
    background-color: lightgray;
}


#egg-container {
    align-items: center;
    background-image: url("images/tamabackground.png");
    background-size: cover; /* this will cover the entire area of the container */
    background-position: center; /* this will center the image */
    border-radius: 50% / 60% 60% 40% 40%;
    border: 2px solid black;
    box-shadow: 2px 2px 5px #000;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 300px;
}

#inner-container {
    align-items: center;
    background-color: #eeeeee; /* choose the color you want for the inner container */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}
