h1 {
    text-align: center;
    font-family: "comic sans ms";
    font-size: 75px;
    color: #0264c3;
}

p {
text-align: center;
color:#0264c3;
font-weight: bolder;
font-size: 25px;

}

#button-container {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/* #0264c3 blue yellow #edcf4d */

body {
    background-color: #edcf4d ;
}