h1 {
    text-align: center;
    font-family: "comic sans ms";
    font-size: 75px;
    color: #0264c3;
    text-shadow: 2px 2px 0 black;
}

p {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

body {
    background-color: #edcf4d;
}

#button-container,
#icon-container,
#tamagotchi {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
}

#increaseHungerBtn,
#increaseBathroomBtn,
#Light,
#increaseSicknessBtn,
#increaseMoodBtn {
    width: 25px;
    /* margin-bottom: 20px; */
    
}

#icon-container-bottom {
    display: flex;
    justify-content: center;
}

#tamagotchi img {
    width: 75px;
    height: 75px;
    
}

#screen-border {

    object-fit: contain;
    padding: 30px;
    border: 2px solid black;
    border-radius: 50% / 75% 100% 100% 75%;


}

#egg-container {
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 400px;
    background-color: #eeeeee;
    border-radius: 50% / 60% 60% 40% 40%;
    box-shadow: 2px 2px 5px #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


