h1 {
    text-align: center;
    font-family: "comic sans ms";
    font-size: 75px;
    color: #0264c3;
    text-shadow: 2px 2px 0 black;
}

p {

/*color:#0264c3;*/
color: black;
font-weight: bolder;
font-size: 20px;
/*text-shadow: 1px 1px 0 black;*/
align-items: left;

}

#button-container {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    
}

/* #0264c3 blue yellow #edcf4d */

body {
    background-color: #edcf4d ;
}

#icon-container {
    display: flex;
    justify-content: center;
}

#icon-container-bottom {
    display: flex;
    justify-content: center;
}

#increaseHungerBtn {
    width: 50px;
    
}

#increaseBathroomBtn {
    width: 50px;
}

#increaseMoodBtn {
    width: 60px;
}

#Light {
    width: 50px;
}

#increaseSicknessBtn {
    width: 50px;
}

#screen-place-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #screen-place-holder img {
    width: 175px;
    height: 175px;
    object-fit: contain;
  }
  

